/* Give your page a fun background color */
.container {
    background-color:deepskyblue;
    text-align: center;
}
/* Make the header and footer a different color from the background */
header, footer {
    background-color: darkslateblue;
    padding: 5px;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    font-style: italic;
    color: white ;
    font-size: 18px;
}
/* Put a border around your image */
img {
    border: 10px solid grey;
}
/* Change the font-family of your list */
ul {
    font-family: monospace;
    list-style: none;
    font-size: 20px;
}
header {
    color: white;
    margin-bottom: 20px;
}
